/*PROJECTS styles*/

.projects-container i {
  border-radius: 50%;
}

.projects-container i:hover {
  background-color: purple;
  color:white;
  cursor:pointer;
}

.carousel-links {
  margin:1rem;
}

.projects-container {
  background-color: #cc99cc;
}

 .projects-container label {
  display: block;
  text-align: center;
  padding:.5rem;
 }


.projects-container .content {
  display: none;
  overflow-y:hidden;
  vertical-align: top;
}


.project-selection, .content {
    display: block;
    width:100%;
  }

.project-selection label {
  text-align: center;
}

.carousel-slide {
  display: none;
}

.carousel label {
  display: inline-block;
}


.arrow-right {
  float: right;
}

.arrow-left {
  float: left;
}

.custom {
  opacity: 1;
}

.carousel img {
    width:90%;
  }



/*ACCORDION CAROUSEL CONTROLS*/

/*circles*/

#accordion-slide-one:checked + .carousel-slide,
#accordion-slide-two:checked + .carousel-slide,
#accordion-slide-three:checked + .carousel-slide {
  display: block;
  -webkit-animation: 1s current-project;
  animation: 1s current-project; 
}

/* arrows */

#accordion-one-right:checked + input + .carousel-slide,
#accordion-one-left:checked + input + .carousel-slide,
#accordion-two-left:checked + input + .carousel-slide,
#accordion-two-right:checked + input + input + .carousel-slide,
#accordion-three-left:checked + input + input + .carousel-slide,
#accordion-three-right:checked + input + input + .carousel-slide {
  display: block;
  -webkit-animation: 1s current-project;
  animation: 1s current-project; 
}

/*circle current highlighted for arrow / circle click*/

#accordion-slide-one:checked + 
.carousel-slide > label + 
label + h3 + p + p + div > 
label[for="accordion-slide-one"],

#accordion-slide-two:checked + 
.carousel-slide > label + 
label + img + div > label +
label[for="accordion-slide-two"],

#accordion-slide-three:checked + 
.carousel-slide > label + 
label + img + div > label + label +
label[for="accordion-slide-three"],

#accordion-one-left:checked + input +
.carousel-slide > label + 
label + img + div > label +
label + label[for="accordion-slide-three"],

#accordion-one-right:checked + input +
.carousel-slide > label + 
label + img + div > label +
label[for="accordion-slide-two"],

#accordion-two-left:checked + input +
.carousel-slide > label + label + h3 + p + p +
div > label[for="accordion-slide-one"],

#accordion-two-right:checked + input + input +
.carousel-slide > label + 
label + img + div > label + label +
label[for="accordion-slide-three"],

#accordion-three-left:checked + input + input +
.carousel-slide > label + 
label + img + div > label +
label[for="accordion-slide-two"],

#accordion-three-right:checked + input + input +
.carousel-slide > label + label + h3 + p + p +
div > label[for="accordion-slide-one"] {
  
  color:white;
}


/*TAB Carousel controls*/


/*circles*/
#tab-slide-one:checked + .carousel-slide,
#tab-slide-two:checked + .carousel-slide,
#tab-slide-three:checked + .carousel-slide {
  display: block;
  -webkit-animation: 1s current-project;
  animation: 1s current-project; 
}

/*arrows*/
#tab-one-right:checked + input + .carousel-slide,
#tab-two-right:checked + input + .carousel-slide,
#tab-three-right:checked + input + input + .carousel-slide,
#tab-one-left:checked + input + input + .carousel-slide,
#tab-two-left:checked + input + .carousel-slide,
#tab-three-left:checked + input + input + .carousel-slide {
  display: block;
  -webkit-animation: 1s current-project;
  animation: 1s current-project; 
}




/*circle current */

#tab-slide-one:checked + 
.carousel-slide > label[for="tab-one-left"] + 
label + h3 + p + p + div > 
label[for="tab-slide-one"],

#tab-slide-two:checked + 
.carousel-slide > label[for="tab-two-left"] + 
label + img + div > label[for="tab-slide-one"] +
label[for="tab-slide-two"],

#tab-slide-three:checked + 
.carousel-slide > label[for="tab-three-left"] + 
label + img + div > label[for="tab-slide-one"] + label[for="tab-slide-two"] +
label[for="tab-slide-three"],

#tab-one-left:checked + input + input +
.carousel-slide > label + 
label + img + div > label +
label + label[for="tab-slide-three"],

#tab-one-right:checked + input + 
.carousel-slide > label + 
label + img + div > label +
label[for="tab-slide-two"],

#tab-two-left:checked + input +
.carousel-slide > label + 
label + h3 + p + p + div > 
label[for="tab-slide-one"],

#tab-two-right:checked + input + 
.carousel-slide > label + 
label + img + div > label + label +
label[for="tab-slide-three"],

#tab-three-left:checked + input + input +
.carousel-slide > label + 
label + img + div > label + label[for="tab-slide-two"],

#tab-three-right:checked + input + input +
.carousel-slide > label + label + h3 + p + p +
div > label[for="tab-slide-one"] {
  
  color:white;
}


/*IMAGE GALLERY CONTROLS*/

/* circles */

#gallery-slide-one:checked + .carousel-slide,
#gallery-slide-two:checked + .carousel-slide,
#gallery-slide-three:checked + .carousel-slide {
  display: block;
  -webkit-animation: 1s current-project;
  animation: 1s current-project; 
}


/*arrows*/

#gallery-one-right:checked + input + .carousel-slide,
#gallery-two-right:checked + input + .carousel-slide,
#gallery-three-right:checked + input + input + .carousel-slide,
#gallery-one-left:checked + input + input + .carousel-slide,
#gallery-two-left:checked + input + .carousel-slide,
#gallery-three-left:checked + input + input + .carousel-slide {
  display: block;
  -webkit-animation: 1s current-project;
  animation: 1s current-project; 
}

/*circle current */

#gallery-slide-one:checked + 
.carousel-slide > label[for="gallery-one-left"] + 
label + h3 + p + p + div > 
label[for="gallery-slide-one"],

#gallery-slide-two:checked + 
.carousel-slide > label[for="gallery-two-left"] + 
label + img + div > label[for="gallery-slide-one"] +
label[for="gallery-slide-two"],

#gallery-slide-three:checked + 
.carousel-slide > label[for="gallery-three-left"] + 
label + img + div > label[for="gallery-slide-one"] + label[for="gallery-slide-two"] +
label[for="gallery-slide-three"],

#gallery-one-left:checked + input + input +
.carousel-slide > label + 
label + img + div > label +
label + label[for="gallery-slide-three"],

#gallery-one-right:checked + input + 
.carousel-slide > label + 
label + img + div > label +
label[for="gallery-slide-two"],

#gallery-two-left:checked + input +
.carousel-slide > label + 
label + h3 + p + p + div > 
label[for="gallery-slide-one"],

#gallery-two-right:checked + input + 
.carousel-slide > label + 
label + img + div > label + label +
label[for="gallery-slide-three"],

#gallery-three-left:checked + input + input +
.carousel-slide > label + 
label + img + div > label + label[for="gallery-slide-two"],

#gallery-three-right:checked + input + input +
.carousel-slide > label + label + h3 + p + p +
div > label[for="gallery-slide-one"] {
  
  color:white;
}

/*SHOPPING CART CONTROLS*/

/* circles */

#cart-slide-one:checked + .carousel-slide,
#cart-slide-two:checked + .carousel-slide,
#cart-slide-three:checked + .carousel-slide {
  display: block;
  -webkit-animation: 1s current-project;
  animation: 1s current-project; 
}


/*arrows*/

#cart-one-right:checked + input + .carousel-slide,
#cart-two-right:checked + input + .carousel-slide, 
#cart-three-right:checked + input + input + .carousel-slide,
#cart-one-left:checked + input + input + .carousel-slide,
#cart-two-left:checked + input + .carousel-slide,
#cart-three-left:checked + input + input + .carousel-slide {
  display: block;
  -webkit-animation: 1s current-project;
  animation: 1s current-project; 
}

/*circle current */

#cart-slide-one:checked + 
.carousel-slide > label[for="cart-one-left"] + 
label + h3 + p + p + div > 
label[for="cart-slide-one"],

#cart-slide-two:checked + 
.carousel-slide > label[for="cart-two-left"] + 
label + img + div > label[for="cart-slide-one"] +
label[for="cart-slide-two"],

#cart-slide-three:checked + 
.carousel-slide > label[for="cart-three-left"] + 
label + img + div > label[for="cart-slide-one"] + label[for="cart-slide-two"] +
label[for="cart-slide-three"],

#cart-one-left:checked + input + input +
.carousel-slide > label + 
label + img + div > label +
label + label[for="cart-slide-three"],

#cart-one-right:checked + input + 
.carousel-slide > label + 
label + img + div > label +
label[for="cart-slide-two"],

#cart-two-left:checked + input +
.carousel-slide > label + 
label + h3 + p + p + div > 
label[for="cart-slide-one"],

#cart-two-right:checked + input + 
.carousel-slide > label + 
label + img + div > label + label +
label[for="cart-slide-three"],

#cart-three-left:checked + input + input +
.carousel-slide > label + 
label + img + div > label + label[for="cart-slide-two"],

#cart-three-right:checked + input + input +
.carousel-slide > label + label + h3 + p + p +
div > label[for="cart-slide-one"] {
  
  color:white;
}


/* FORMS CONTROLS*/

/* circles */

#forms-slide-one:checked + .carousel-slide,
#forms-slide-two:checked + .carousel-slide,
#forms-slide-three:checked + .carousel-slide {
  display: block;
  -webkit-animation: 1s current-project;
  animation: 1s current-project; 
}

/*arrows*/

#forms-one-right:checked + input + .carousel-slide,
#forms-two-right:checked + input + .carousel-slide,
#forms-three-right:checked + input + input + .carousel-slide,
#forms-one-left:checked + input + input + .carousel-slide,
#forms-two-left:checked + input + .carousel-slide,
#forms-three-left:checked + input + input + .carousel-slide {
  display: block;
  -webkit-animation: 1s current-project;
  animation: 1s current-project; 
}


/*circle current highlight*/

#forms-slide-one:checked + 
.carousel-slide > label[for="forms-one-left"] + 
label + h3 + p + p + div > 
label[for="forms-slide-one"],

#forms-slide-two:checked + 
.carousel-slide > label[for="forms-two-left"] + 
label + img + div > label[for="forms-slide-one"] +
label[for="forms-slide-two"],

#forms-slide-three:checked + 
.carousel-slide > label[for="forms-three-left"] + 
label + img + div > label[for="forms-slide-one"] + label[for="forms-slide-two"] +
label[for="forms-slide-three"],

#forms-one-left:checked + input + input +
.carousel-slide > label + 
label + img + div > label +
label + label[for="forms-slide-three"],

#forms-one-right:checked + input + 
.carousel-slide > label + 
label + img + div > label +
label[for="forms-slide-two"],

#forms-two-left:checked + input +
.carousel-slide > label + 
label + h3 + p + p + div > 
label[for="forms-slide-one"],

#forms-two-right:checked + input + 
.carousel-slide > label + 
label + img + div > label + label +
label[for="forms-slide-three"],

#forms-three-left:checked + input + input +
.carousel-slide > label + 
label + img + div > label + label[for="forms-slide-two"],

#forms-three-right:checked + input + input +
.carousel-slide > label + label + h3 + p + p +
div > label[for="forms-slide-one"] {
  
  color:white;
}


/* BUTTON COMPONENT CONTROLS*/

/* circles */

#btn-comp-slide-one:checked + .carousel-slide,
#btn-comp-slide-two:checked + .carousel-slide,
#btn-comp-slide-three:checked + .carousel-slide
 {
  display: block;
  -webkit-animation: 1s current-project;
  animation: 1s current-project; 
}

/*arrows*/

#btn-comp-one-right:checked + input + .carousel-slide,
#btn-comp-two-right:checked + input + input + .carousel-slide,
#btn-comp-three-right:checked + input + input + .carousel-slide,
#btn-comp-one-left:checked + input + input + .carousel-slide,
#btn-comp-two-left:checked + input + .carousel-slide,
#btn-comp-three-left:checked + input + input + .carousel-slide {
  display: block;
  -webkit-animation: 1s current-project;
  animation: 1s current-project; 
}

/*circle current highlights*/

#btn-comp-slide-one:checked + 
.carousel-slide > label[for="btn-comp-one-left"] + 
label + h3 + p + p + div > 
label[for="btn-comp-slide-one"],

#btn-comp-slide-two:checked + 
.carousel-slide > label[for="btn-comp-two-left"] + 
label + img + div > label[for="btn-comp-slide-one"] +
label[for="btn-comp-slide-two"],

#btn-comp-one-left:checked + input + input +
.carousel-slide > label + 
label + img + div > label +
label[for="btn-comp-slide-two"],

#btn-comp-one-right:checked + input + 
.carousel-slide > label + 
label + img + div > label +
label[for="btn-comp-slide-two"],

#btn-comp-two-left:checked + input +
.carousel-slide > label + 
label + h3 + p + p + div > 
label[for="btn-comp-slide-one"],

#btn-comp-two-right:checked + input + input +
.carousel-slide > label + 
label + h3 + p + p + div > 
label[for="btn-comp-slide-one"]
{
  color:white;
}


/* BUSINESS CARD CONTROLS*/

/* circles */

#bus-card-slide-one:checked + .carousel-slide,
#bus-card-slide-two:checked + .carousel-slide,
#bus-card-slide-three:checked + .carousel-slide {
  display: block;
  -webkit-animation: 1s current-project;
  animation: 1s current-project; 
}

/*arrows*/

#bus-card-one-right:checked + input + .carousel-slide,
#bus-card-two-right:checked + input + .carousel-slide,
#bus-card-three-right:checked + input + input + .carousel-slide,
#bus-card-one-left:checked + input + input + .carousel-slide,
#bus-card-two-left:checked + input + .carousel-slide,
#bus-card-three-left:checked + input + input + .carousel-slide {
  display: block;
  -webkit-animation: 1s current-project;
  animation: 1s current-project; 
}

/*circle current */

#bus-card-slide-one:checked + 
.carousel-slide > label[for="bus-card-one-left"] + 
label + h3 + p + p + div > 
label[for="bus-card-slide-one"],

#bus-card-slide-two:checked + 
.carousel-slide > label[for="bus-card-two-left"] + 
label + img + div > label[for="bus-card-slide-one"] +
label[for="bus-card-slide-two"],

#bus-card-slide-three:checked + 
.carousel-slide > label[for="bus-card-three-left"] + 
label + img + div > label[for="bus-card-slide-one"] + label[for="bus-card-slide-two"] +
label[for="bus-card-slide-three"],

#bus-card-one-left:checked + input + input +
.carousel-slide > label + 
label + img + div > label +
label + label[for="bus-card-slide-three"],

#bus-card-one-right:checked + input + 
.carousel-slide > label + 
label + img + div > label +
label[for="bus-card-slide-two"],

#bus-card-two-left:checked + input +
.carousel-slide > label + 
label + h3 + p + p + div > 
label[for="bus-card-slide-one"],

#bus-card-two-right:checked + input + 
.carousel-slide > label + 
label + img + div > label + label +
label[for="bus-card-slide-three"],

#bus-card-three-left:checked + input + input +
.carousel-slide > label + 
label + img + div > label + label[for="bus-card-slide-two"],

#bus-card-three-right:checked + input + input +
.carousel-slide > label + label + h3 + p + p +
div > label[for="bus-card-slide-one"] {
  
  color:white;
}


/* HACKATHON ONE CONTROLS*/

/* circles */

#hack-one-slide-one:checked + .carousel-slide,
#hack-one-slide-two:checked + .carousel-slide,
#hack-one-slide-three:checked + .carousel-slide {
  display: block;
  -webkit-animation: 1s current-project;
  animation: 1s current-project; 
}


/*arrows*/

#hack-one-one-right:checked + input + .carousel-slide,
#hack-one-two-right:checked + input + .carousel-slide,
#hack-one-three-right:checked + input + input + .carousel-slide,
#hack-one-one-left:checked + input + input + .carousel-slide,
#hack-one-two-left:checked + input + .carousel-slide,
#hack-one-three-left:checked + input + input + .carousel-slide {
  display: block;
  -webkit-animation: 1s current-project;
  animation: 1s current-project; 
}

/*circle current */

#hack-one-slide-one:checked + 
.carousel-slide > label[for="hack-one-one-left"] + 
label + h3 + p + p + div > 
label[for="hack-one-slide-one"],

#hack-one-slide-two:checked + 
.carousel-slide > label[for="hack-one-two-left"] + 
label + img + div > label[for="hack-one-slide-one"] +
label[for="hack-one-slide-two"],

#hack-one-slide-three:checked + 
.carousel-slide > label[for="hack-one-three-left"] + 
label + img + div > label[for="hack-one-slide-one"] + label[for="hack-one-slide-two"] +
label[for="hack-one-slide-three"],

#hack-one-one-left:checked + input + input +
.carousel-slide > label + 
label + img + div > label +
label + label[for="hack-one-slide-three"],

#hack-one-one-right:checked + input + 
.carousel-slide > label + 
label + img + div > label +
label[for="hack-one-slide-two"],

#hack-one-two-left:checked + input +
.carousel-slide > label + 
label + h3 + p + p + div > 
label[for="hack-one-slide-one"],

#hack-one-two-right:checked + input + 
.carousel-slide > label + 
label + img + div > label + label +
label[for="hack-one-slide-three"],

#hack-one-three-left:checked + input + input +
.carousel-slide > label + 
label + img + div > label + label[for="hack-one-slide-two"],

#hack-one-three-right:checked + input + input +
.carousel-slide > label + label + h3 + p + p +
div > label[for="hack-one-slide-one"] {
  
  color:white;
}


/* TEAM COLLAB APP CONTROLS*/

/* circles */

#collab-slide-one:checked + .carousel-slide,
#collab-slide-two:checked + .carousel-slide,
#collab-slide-three:checked + .carousel-slide {
  display: block;
  -webkit-animation: 1s current-project;
  animation: 1s current-project; 
}

/*arrows*/

#collab-one-right:checked + input + .carousel-slide,
#collab-two-right:checked + input + .carousel-slide,
#collab-three-right:checked + input + input + .carousel-slide,
#collab-one-left:checked + input + input + .carousel-slide,
#collab-two-left:checked + input + .carousel-slide,
#collab-three-left:checked + input + input + .carousel-slide {
  display: block;
  -webkit-animation: 1s current-project;
  animation: 1s current-project; 
}

/*circle current */

#collab-slide-one:checked + 
.carousel-slide > label[for="collab-one-left"] + 
label + h3 + p + p + div > 
label[for="collab-slide-one"],

#collab-slide-two:checked + 
.carousel-slide > label[for="collab-two-left"] + 
label + img + div > label[for="collab-slide-one"] +
label[for="collab-slide-two"],

#collab-slide-three:checked + 
.carousel-slide > label[for="collab-three-left"] + 
label + img + div > label[for="collab-slide-one"] + label[for="collab-slide-two"] +
label[for="collab-slide-three"],

#collab-one-left:checked + input + input +
.carousel-slide > label + 
label + img + div > label +
label + label[for="collab-slide-three"],

#collab-one-right:checked + input + 
.carousel-slide > label + 
label + img + div > label +
label[for="collab-slide-two"],

#collab-two-left:checked + input +
.carousel-slide > label + 
label + h3 + p + p + div > 
label[for="collab-slide-one"],

#collab-two-right:checked + input + 
.carousel-slide > label + 
label + img + div > label + label +
label[for="collab-slide-three"],

#collab-three-left:checked + input + input +
.carousel-slide > label + 
label + img + div > label + label[for="collab-slide-two"],

#collab-three-right:checked + input + input +
.carousel-slide > label + label + h3 + p + p +
div > label[for="collab-slide-one"] {
  
  color:white;
}

/*Projects Selection controls*/

label[for="accordion"], 
label[for="tab"], 
label[for="gallery"], 
label[for="cart"], 
label[for="forms"],
label[for="btn-comp"],
label[for="bus-card"],
label[for="hack-one"],
label[for="collab"]
 {
  background-color: white;
}

label[for="accordion"]:hover, 
label[for="tab"]:hover, 
label[for="gallery"]:hover, 
label[for="cart"]:hover, 
label[for="forms"]:hover,
label[for="btn-comp"]:hover,
label[for="bus-card"]:hover,
label[for="hack-one"]:hover,
label[for="collab"]:hover
 {
  background-color: #730073;
  color:white;
  cursor:pointer;
}

#accordion:checked + .content {
  display: inline-block;
 /* -webkit-animation: 1s current-project;
    animation: 1s current-project;*/
}

#selection-accordion:checked ~ label[for="accordion"] {
  background-color: #b266b2;
}

#tab:checked + .content {
  display: inline-block;
 /* -webkit-animation: 1s current-project;
    animation: 1s current-project;*/
}

#selection-tab:checked + label[for="tab"] {
  background-color: #b266b2;
}

#gallery:checked + .content {
  display: inline-block;
 /* -webkit-animation: 1s current-project;
    animation: 1s current-project;*/
}

#selection-gallery:checked ~ label[for="gallery"] {
  background-color: #b266b2;
}

#cart:checked + .content {
  display: inline-block;
  /*-webkit-animation: 1s current-project;
    animation: 1s current-project;*/
}

#cart:checked ~ label[for="cart"] {
  background-color: #b266b2;
}

#forms:checked + .content {
  display: inline-block;
  /*-webkit-animation: 1s current-project;
    animation: 1s current-project;*/
}

#forms:checked ~ label[for="forms"] {
  background-color: #b266b2;
}

#btn-comp:checked + .content {
  display: inline-block;
/*  -webkit-animation: 1s current-project;
    animation: 1s current-project;*/
}

#btn-comp:checked ~ label[for="btn-comp"] {
  background-color: #b266b2;
}

#bus-card:checked + .content {
  display: inline-block;
 /* -webkit-animation: 1s current-project;
    animation: 1s current-project;*/
}

#bus-card:checked ~ label[for="bus-card"] {
  background-color: #b266b2;
}

#hack-one:checked + .content {
  display: inline-block;
/*  -webkit-animation: 1s current-project;
    animation: 1s current-project;*/
}

#hack-one:checked ~ label[for="hack-one"] {
  background-color: #b266b2;
}

#collab:checked + .content {
  display: inline-block;
}

#collab:checked ~ label[for="collab"] {
  background-color: #b266b2;
}


@-webkit-keyframes  current-project{
  0% {
    opacity: 0;
    -webkit-transform: scale(.95);
    transform: scale(.95);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@-webkit-keyframes carousel-easein {
  0% {
    opacity: 0;
    
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}




@media screen and (min-width: 600px) {
      .project-selection, .content {
        display: inline-block;
    }
  }