.jump-anchor {
	padding-top:40px;
	margin-bottom: -40px;
}

body {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}


/*radio button*/
input[type="radio"] {
  display: none;
}

$darkPurple: #730073;


.section-headers {
	font-size:250%;
}


